* {
    -fx-primary-red: #F23022;
    -fx-secondary-red: #FF4A3C;
    -fx-primary-blue: #003366;
    -fx-secondary-blue: #1A4D80;
    -fx-primary-background: #1367b5;
    -fx-secondary-background: #64aaec;
    -fx-primary-green: #05a632;
    -fx-primary-purple: #810aa6;
    -fx-border-blue: #14049e;
}